/*---------- RESET ----------*/
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code,
del, dfn, em, font, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li,
fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td {
	margin: 0;
	padding: 0;
	border: 0;
	outline: 0;
	font-size: 100%;
	vertical-align: baseline;
	background: transparent;
}
*{-webkit-tap-highlight-color: rgba(0, 0, 0, 0);}
/*input,textarea{-webkit-appearance:none;-webkit-border-radius:0;}*/
body{line-height:1;-webkit-text-size-adjust:none;font:13px/1.4 'neue-th', Arial, sans-serif;background-color:#fff;}
ol, ul{list-style:none;}
blockquote, q{quotes:none;}
blockquote:before, blockquote:after, q:before, q:after{content: '';content:none;}
:focus{outline:0;}
ins{text-decoration:none;}
del{text-decoration:line-through;}
table{border-collapse:collapse;border-spacing:0;}
input:-webkit-autofill {-webkit-box-shadow: 0 0 0px 1000px #D1D3D4 inset;}
/*---------- GENERAL STYLES ----------*/
h1, h2, h3{font-family:, Arial, sans-serif;font-weight:normal;line-height:29px;color:#074491;}
h1{line-height:34px;font-size:28px;}
p{margin-bottom:30px;line-height:29px;}
a,li,img{text-decoration:none;color:#074491;
	-webkit-transition: all 0.4s linear;
  -moz-transition: all 0.4s linear;
  -o-transition: all 0.4s linear;
  -ms-transition: all 0.4s linear;
  transition: all 0.4s linear;
}
img{max-width:100%;width:100%;padding:0;margin:0;border:none;display:block;}
.hidden{display:none;}
.clearfloat{zoom:1;}
.clearfloat:before,.clearfloat:after{content:"";display:table;}
.clearfloat:after{clear:both;}
.clearfix:after, .clearfix:after, .main:after, .left:after, .right:after, dl:after, dt:after, dd:after, ul:after, li:after {
    clear: both;
    content: ".";
    display: block;
    height: 0;
    overflow: hidden;
    visibility: hidden;
}
i,em,var{ font-style:normal;}
a{out-line:none!important}
a:focus{outline:none!important}
/*---------- LAYOUT ----------*/
::selection{background-color:#f03252}
::-webkit-scrollbar{height:12px;width:9px;background:transparent;border-radius:20px}
::-webkit-scrollbar-thumb{background-color:#f03252;border:3px solid #232323;border-radius:20px}
/*font*/
html {
    //iphone5
    font-size: 62.5%;
}
@media (max-width: 414px) {
    html {
        //iphone6+
        font-size: 80.85%;
    }
}
@media (max-width: 375px) {
    html {
        //iphone6
        font-size: 73.24%;
    }
}
/*禁止长按 a，img 标签长按出现菜单栏*/
a, img {
    -webkit-touch-callout: none; /*禁止长按链接与图片弹出菜单*/
}
/*流畅滚动*/
body{
    -webkit-overflow-scrolling:touch;
}
/*vertical-align 调整图标垂直居中*/
{
    vertical-align:15px;
}
/*flex 弹性盒模型的使用*/
{
    margin-bottom: .5rem;
    display: box;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    display: -webkit-flex;
    -webkit-flex-flow: row;
    -ms-flex-flow: row;
    flex-flow: row;
		display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    display: -webkit-flex;
		box-flex: 1;
    -webkit-box-flex: 1;
    -webkit-flex: 1;
    -ms-flex: 1;
    flex: 1;
    width: 18.5rem;
}
/*margin-left 的时候会处罚页面的重绘和重排 transform 来代替传统的 margin-left 来改变元素位置*/
.lottery-animation {
    -webkit-animation: lottery-red 2s;
    animation: lottery-red 2s;
    -webkit-animation-iteration-count: infinite;
    animation-iteration-count: infinite;
}

@-webkit-keyframes lottery-red {
    from {
        -webkit-transform: rotateY(0deg);
        transform: rotateY(0deg);
    }
    to {
        -webkit-transform: rotateY(360deg);
        transform: rotateY(360deg);
    }
}

@keyframes lottery-red {
    from {
        -webkit-transform: rotateY(0deg);
        transform: rotateY(0deg);
    }
    to {
        -webkit-transform: rotateY(360deg);
        transform: rotateY(360deg);
    }
}
/*消除chrome点击过快 选中*/
i{-webkit-user-select: none;}
/*project*/
#layout{height:100%;width:100%;background-color:#d3d3d3;overflow:hidden;transition:background 0.5s;top:0;left:0;position:absolute;color:#fff;font-size:10px;line-height:1.1rem;letter-spacing:0.03rem;text-transform:uppercase;-webkit-font-smoothing:antialiased}
.border{-webkit-transition:0.25s cubic-bezier(0.62, 0.02, 0.34, 1);-moz-transition:0.25s cubic-bezier(0.62, 0.02, 0.34, 1);transition:0.25s cubic-bezier(0.62, 0.02, 0.34, 1);height:100%;width:100%;position:absolute}
.border>div{height:100%;width:100%;position:absolute}
.border .frames div{background:url(../img/border.svg) repeat-x 50% 50%;width:100%;height:20px;position:absolute;left:0;top:0}
.border .frames div:nth-child(2),.border .frames div:nth-child(4){width:20px;height:100%;background:url(../img/border-vert.svg) repeat-y 50% 50%}
.border .frames div:nth-child(3){bottom:0;top:auto;}
.border .frames div:nth-child(4){right:0;left:auto;}
.border .frames div:nth-child(3),.border .frames div:nth-child(4){-webkit-transform:rotate(179.99deg);-moz-transform:rotate(179.99deg);-ms-transform:rotate(179.99deg);transform:rotate(179.99deg)}
.border .corners div::before,.border .corners div::after{content:'';background:url(../img/corner.svg) no-repeat center center;width:50px;height:50px;position:absolute;left:10px;top:11px}
.border .corners div:nth-child(1)::after{-webkit-transform:rotate(90deg);-moz-transform:rotate(90deg);-ms-transform:rotate(90deg);-o-transform:rotate(90deg);transform:rotate(90deg);left:auto;right:10px;top:11px}
.border .corners div:nth-child(2)::before{left:auto;right:10px;top:auto;bottom:11px;-webkit-transform:rotate(180deg);-moz-transform:rotate(180deg);-ms-transform:rotate(180deg);-o-transform:rotate(180deg);transform:rotate(180deg)}
.border .corners div:nth-child(2)::after{top:auto;bottom:11px;-webkit-transform:rotate(270deg);-moz-transform:rotate(270deg);-ms-transform:rotate(270deg);-o-transform:rotate(270deg);transform:rotate(270deg)}
#layout.drill{background-color:#87C4A3}
#layout.hirola{background-color:#EF9F64}
#layout.loris{background-color:#9B7FE6}
#layout.okapi{background-color:#E794AE}
#layout.peccary{background-color:#F4696B}
#layout.rhino{background-color:#63C5AB}
#layout.lynx{background-color:#F4C3C5}
#layout.tapir{background-color:#FEC54F}
#layout.panda{background-color:#98BFF6}
#layout.ostrich{background-color:#de89ac}
#layout.butterfly{background-color:#9B7AD5}
#layout.camel{background-color:##FD9372}
#layout.parrotfish{background-color:#ccc5e3}
#layout.damselfly{background-color:#F68F6F}
#layout.penguin{background-color:#3CCAD1}
#layout.echidna{background-color:#DFBC94}
#layout.sloth{background-color:#FDACB4}
#layout.oryx{background-color:#79BBB5}
#layout.turtle{background-color:#A0CADB}
#layout.owl{background-color:##a09de5}
#layout.frog{background-color:#785ebb}
#layout.crow{background-color:#84A5DD}
html:not(.small-nav) .hover-detector{}
