<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>pieces</title>
    <metac>30种濒临动物背景</metac>
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="renderer" content="webkit">
    <link rel="stylesheet" href="layout.css" media="screen" title="no title" charset="utf-8">
  </head>
  <body>
      <div id="layout" class="">
        <div class="border">
            <div class="frames">
              <div></div>
              <div></div>
              <div></div>
              <div></div>
            </div>
        <div class="corners">
          <div></div>
          <div></div>
        </div>
        </div>
      </div>


    <script>
    window.onload=function(){
        //tool
      Array.prototype.indexOf = function(val) {
                for (var i = 0; i < this.length; i++) {
                    if (this[i] == val) return i;
                }
                return -1;
            };
      Array.prototype.reMove = function(val) {
                var index = this.indexOf(val);
                if (index > -1) {
                    this.splice(index, 1);
                }
            };
      DOMTokenList.prototype.adds = function(tokens) {
          tokens.split(" ").forEach(function(token) {
              this.add(token);
            }.bind(this));
                return this;
    };


    //layout color
      (function change(){
        var sColor=['drill','hirola','loris','okapi','peccary','rhino','lynx','tapir','panda','ostrich','butterfly','camel','parrotfish','damselfly','penguin','echidna','sloth','oryx','turtle','owl','frog','crow'];
        var tColor=[];
        var int=self.setInterval(chan,1000);
        function chan(){
          if(sColor.length>0){
            var i=sColor[Math.floor(Math.random()*sColor.length)];
                sColor.reMove(i);
                document.querySelector('#layout').classList.remove(tColor[tColor.length-1]);
                tColor.push(i);
                document.querySelector('#layout').classList.add(i);
          }else{
            int=window.clearInterval(int);
            return;
          }
        }
      })()
    }
    </script>
  </body>
</html>
