<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>css3matrix</title>
    <metac>matrix转换</metac>
  </head>
  <body>
      <div id="view">
            <ul class='list'>
                <li class="it" id='test-1'>1</li>
                <li class="it" id='test-2'>2</li>
                <li class="it">3</li>
                <li class="it">4</li>
                <li class="it">5</li>
                <li class="it">6</li>
                <li class="it">7</li>
            </ul>
      </div>

      <script src="../reserved/lib/tiny1.js"></script>
      <script>
        window.$ = function(id){
    return new _$(id);
}
function _$(id){
    this.elements = document.getElementById(id);
}
_$.prototype = {
    constructor:_$,
    hide:function(){
        console.log('hide');
        return this;
    },
    show:function(){
        console.log('shwo');
        return this;
    },
    getName:function(callback){
        if(callback){
            callback.call(this,this.name);
        }
        return this;
    },
    setName:function(name){
        this.name = name;
        return this;
    }
}
      </script>
      
      <script>
        window.onload=function () {
            $('view').setName('xesam').getName(function(name){
    console.log(name);
}).show().hide().show().hide().show();
            
//            console.log(_);
//            console.log( _.prototype);

            //document.querySelector('#view')
//            _("#view").on('click',function(){
//                alert('click'+this);
//            }).attr("title","我的图片")
//                //.setStyle('background','red');

        };
      </script>
      

  </body>
</html>
