/*---------- RESET ----------*/
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code,
del, dfn, em, font, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li,
fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td {
	margin: 0;
	padding: 0;
	border: 0;
	outline: 0;
	font-size: 100%;
	vertical-align: baseline;
	background: transparent;
}
*{-webkit-tap-highlight-color: rgba(0, 0, 0, 0);}
/*input,textarea{-webkit-appearance:none;-webkit-border-radius:0;}*/
body{line-height:1;-webkit-text-size-adjust:none}
ol, ul{list-style:none;}
blockquote, q{quotes:none;}
blockquote:before, blockquote:after, q:before, q:after{content: '';content:none;}
:focus{outline:0;}
ins{text-decoration:none;}
del{text-decoration:line-through;}
table{border-collapse:collapse;border-spacing:0;}
input:-webkit-autofill {-webkit-box-shadow: 0 0 0px 1000px #D1D3D4 inset;}
/*---------- FONTS ----------*/
@font-face {
    font-family: 'bariol-regular';
    src: url('fonts/bariol_regular-webfont.eot');
    src: url('fonts/bariol_regular-webfont.eot?#iefix') format('embedded-opentype'),
         url('fonts/bariol_regular-webfont.woff2') format('woff2'),
         url('fonts/bariol_regular-webfont.woff') format('woff'),
         url('fonts/bariol_regular-webfont.ttf') format('truetype'),
         url('fonts/bariol_regular-webfont.svg#bariol_regularregular') format('svg');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'bariol-italic';
    src: url('fonts/bariol_regular_italic-webfont.eot');
    src: url('fonts/bariol_regular_italic-webfont.eot?#iefix') format('embedded-opentype'),
         url('fonts/bariol_regular_italic-webfont.woff2') format('woff2'),
         url('fonts/bariol_regular_italic-webfont.woff') format('woff'),
         url('fonts/bariol_regular_italic-webfont.ttf') format('truetype'),
         url('fonts/bariol_regular_italic-webfont.svg#bariolregular_italic') format('svg');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'prime-regular';
    src: url('fonts/prime_regular-webfont.eot');
    src: url('fonts/prime_regular-webfont.eot?#iefix') format('embedded-opentype'),
         url('fonts/prime_regular-webfont.woff2') format('woff2'),
         url('fonts/prime_regular-webfont.woff') format('woff'),
         url('fonts/prime_regular-webfont.ttf') format('truetype'),
         url('fonts/prime_regular-webfont.svg#primeregular') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'ralewaylight';
    src: url('fonts/Raleway-Light-webfont.eot');
    src: url('fonts/Raleway-Light-webfont.eot?#iefix') format('embedded-opentype'),
         url('fonts/Raleway-Light-webfont.woff2') format('woff2'),
         url('fonts/Raleway-Light-webfont.woff') format('woff'),
         url('fonts/Raleway-Light-webfont.ttf') format('truetype'),
         url('fonts/Raleway-Light-webfont.svg#ralewaylight') format('svg');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'ralewayregular';
    src: url('fonts/Raleway-Regular-webfont.eot');
    src: url('fonts/Raleway-Regular-webfont.eot?#iefix') format('embedded-opentype'),
         url('fonts/Raleway-Regular-webfont.woff2') format('woff2'),
         url('fonts/Raleway-Regular-webfont.woff') format('woff'),
         url('fonts/Raleway-Regular-webfont.ttf') format('truetype'),
         url('fonts/Raleway-Regular-webfont.svg#ralewayregular') format('svg');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'ralewaymedium';
    src: url('fonts/Raleway-Medium-webfont.eot');
    src: url('fonts/Raleway-Medium-webfont.eot?#iefix') format('embedded-opentype'),
         url('fonts/Raleway-Medium-webfont.woff2') format('woff2'),
         url('fonts/Raleway-Medium-webfont.woff') format('woff'),
         url('fonts/Raleway-Medium-webfont.ttf') format('truetype'),
         url('fonts/Raleway-Medium-webfont.svg#ralewaymedium') format('svg');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'ralewaybold';
    src: url('fonts/Raleway-Bold-webfont.eot');
    src: url('fonts/Raleway-Bold-webfont.eot?#iefix') format('embedded-opentype'),
         url('fonts/Raleway-Bold-webfont.woff2') format('woff2'),
         url('fonts/Raleway-Bold-webfont.woff') format('woff'),
         url('fonts/Raleway-Bold-webfont.ttf') format('truetype'),
         url('fonts/Raleway-Bold-webfont.svg#ralewaybold') format('svg');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'ralewayextrabold';
    src: url('fonts/Raleway-ExtraBold-webfont.eot');
    src: url('fonts/Raleway-ExtraBold-webfont.eot?#iefix') format('embedded-opentype'),
         url('fonts/Raleway-ExtraBold-webfont.woff2') format('woff2'),
         url('fonts/Raleway-ExtraBold-webfont.woff') format('woff'),
         url('fonts/Raleway-ExtraBold-webfont.ttf') format('truetype'),
         url('fonts/Raleway-ExtraBold-webfont.svg#ralewayextrabold') format('svg');
    font-weight: normal;
    font-style: normal;
}

/*---------- GENERAL STYLES ----------*/
h1, h2, h3{font-family:'ralewaybold', Arial, sans-serif;font-weight:normal;line-height:29px;color:#074491;}
h1{line-height:34px;font-size:28px;}
p{margin-bottom:30px;line-height:29px;}
a{text-decoration:none;color:#074491;
	-webkit-transition: all 0.5s linear;
  -moz-transition: all 0.5s linear;
  -o-transition: all 0.5s linear;
  -ms-transition: all 0.5s linear;
  transition: all 0.5s linear;
}
img{max-width:100%;width:100%;padding:0;margin:0;border:none;display:block;}
.hidden{display:none;}
.clearfloat{zoom:1;}
.clearfloat:before,
.clearfloat:after{content:"";display:table;}
.clearfloat:after{clear:both;}
.align-left{float:left;}
.align-right{float:right;}
span.customSelect {color:#414042;font-size:13px;padding:7px 10px 7px 15px;height:13px; overflow:hidden; text-wrap:none;}
.customSelectInner{background:url("../images/dd-arrow.gif") no-repeat right 5px;display:block !important;padding-right:18px;}

/*---------- LAYOUT ----------*/
html, body, #main-wrapper{height:100%;width:100%;}
body{font-family:'ralewaylight', Arial, sans-serif;font-size:14px; line-height:1.7; color:#939598;background-color:#000;overflow-x:hidden}
.clearfix:after, .clearfix:after, .main:after, .left:after, .right:after, dl:after, dt:after, dd:after, ul:after, li:after{
    clear: both;
    content: ".";
    display: block;
    height: 0;
    overflow: hidden;
    visibility: hidden;
}
